<!DOCTYPE html>
<!--it did not redirt the url properly thats why we use thimelip -->
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="page_head(title)">
<!-- to use the Unicode -->
	<meta http-equiv="Content-Type" content="text/html" ; charset="=UTF-8">
	<!--for Responsive In mobile Phone-->
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
	<title>[[${title}]]</title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</head>
<body>
<!--This is the cass class for responsive webpage bootstrap  it show the 
best heading in sub div sesstion -->
<div th:fragment="footer" class="text-center">
		<p>Shopeme Control panel -Copyright &copy;shopemne</p>

	</div>


</body>


</html>