<!DOCTYPE html>
<!--it did not redirt the url properly thats why we use thimelip -->
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- to use the Unicode -->
	<meta http-equiv="Content-Type" content="text/html" ; charset="=UTF-8">
	<!--for Responsive In mobile Phone-->
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
	<title>[[${pageTitle}]]</title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
</head>

<body>
	<!--This is the cass class for responsive webpage bootstrap  it show the 
best heading in sub div sesstion -->
	<div class="container-fluid">

	<div th:replace="nav :: menu"></div>
	</div>
	<div>
		<h2>Manage users |[[${pageTitle}]]<h22>

	</div>

	<div>
		<form th:action="@{/users/save}" method="POST" style="max-width: 700px; margin: 0 auto;" enctype="multipart/form-data" th:object="${user}"
			onsubmit="return checkEmailUnique(this);">
			<input type="hidden" th:field="*{id}">
			<div class="border border-secondary rounded p-3">
				<div class="form-group row">
					<label class="col-sm-4 col-form-lable">E-mail</label>
					<div class="col-sm-8">
						<input type="email" class="form-control" th:field="*{email}" required minlength="8"
							maxlength="128" />

					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-4 col-form-lable">First Name</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" th:field="*{firsName}" required minlength="2"
							maxlength="45" />

					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-4 col-form-lable">Last Name</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" th:field="*{lastName}" required minlength="2"
							maxlength="45" />

					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-4 col-form-lable">Password</label>
					<div class="col-sm-8">
						<input th:if="${user.id==null}" type="password" class="form-control" th:field="*{password}"
							required minlength="8" maxlength="20" />
						<input th:if="${user.id !=null}" type="password" class="form-control" th:field="*{password}"
							minlength="8" maxlength="20" />
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-4 col-form-lable">Roles</label>
					<div class="col-sm-8">
						<th:block th:each="role: ${listRole}">
							<input type="checkbox" th:field="*{roles}" th:text="${role.name}" th:value="${role.id}"
								class="m-2" />
							-<small>[[${role.description}]]</small><br>

						</th:block>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-4 col-form-lable">Enable</label>
					<div class="col-sm-8">
						<input type="checkbox" th:field="*{enabled}">

					</div>
				</div>
					<div class="form-group row">
					<label class="col-sm-4 col-form-lable">Photos</label>
					<div class="col-sm-8">
					<input type="hidden" th:field="*{photos}"/>
						<input type="file" id="fileImage" accept="image/png, image/jepg"  name="image">
							<img id="thumbnail" alt="Photos preview" th:src="@{${user.getPhotosImagePath}}"
							style="width: 100px;"/>
					</div>
				</div>
				<div class="text-center">

					<input type="submit" value="Save" class="btn btn-primary">
					<input type="button" value="cancle" class="btn btn-secondary" id="buttoncancel">

				</div>

			</div>
		</form>
	</div>
	<div th:replace="fragments :: footer"></div>
	</div>



	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
	<script>
		$(document).ready(function () {
			$("#buttoncancel").on("click", function () {
				window.location = "[[@{/users}]]";
			});


		});

		function checkEmailUnique(form) {
			url = "[[@{/users/check_email}]]";
			UserEmail = $("#email").val();
			csrfValue = $("input [name='_csrf']").val();
			params = {email: userEmail, _csrf: csrfValue};
			$.post(url, params, function (response) {
				alert("Response form The Server" + response);
			});
			return false;
		}

	</script>

</body>


</html>